:root {
    --header-h: 70px;
}

header {
    color: #fff;
}

main > header {
    height: var(--header-h); width: 100%;
    background: #191919;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    width: 90%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar > div:nth-of-type(1) {
    width: auto; height: auto;
}

.nav-bar > div:nth-of-type(2) {
    height: auto; width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.nav-bar > div:nth-of-type(2) > li {
    margin: 0px 10px 0px 10px;
}

.nav-bar div a {
    color: #fff;
}