:root {
   --header-h: 70px;
}

header {
  height: var(--header-h);
  width: 100%;
  background: linear-gradient(45deg, #3c4045, #50545a 16%, #3c4045);
  color: #fff;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar > div > img {
  height: 50px;
  margin-right: 10px;
}

.nav-bar > div > h2 {
  width: auto;
  height: auto;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  list-style: none;
}

.nav > li {
  margin: 0 10px;
  color: #fff;
}

.nav > li:last-of-type {
  margin-right: 0; 
}

.nav > li a {
  color: #fff;
  padding: 10px 5px;
  font-weight: lighter;
}

.nav > li a:hover, .active-link {
  border-bottom: 1px solid;
}

.nav > li:last-of-type a {
  color: #000;
  background: #F3C02F;
  border-radius: 10px;
  padding: 10px 15px;
  transition: all .5s ;
}

.nav > li:last-of-type a:hover {
  box-shadow: 0 0 10px #ffffff79;
}

.burger input {
  display: none;
}

.burger span {
  display: none;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: -4px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 24px;
  left: 5px;
}