@media screen and (max-width: 1280px) {
    .nav-bar > div:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav-bar > div:nth-of-type(2) {
        display: none;
    }
}

@media screen and (max-width: 1060px) {
    main > section:nth-of-type(5) {
        height: fit-content;
    }

    .precios {
        display: flex;
        flex-direction: column;
    }

    .precios > div {
        width: clamp(200px, 80%, 80%);
    }
}